*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.heading{
  text-align: center;
  font-size: 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(255, 215, 162);
  padding: 10px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  /* background-color: #f1f1f1; */
  flex-direction: column;
  
}
.calculatorButtons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  flex-wrap: wrap;
}
.btn{
  width: 80px;
  height: 80px;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 10%;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
#displayValues{
  /* width: inherit; */
  height: 10vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 20px;
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
  overflow: hidden;
  
}
button:link, button:visited{
  background-color: antiquewhite;
}
button:hover {
  background-color: rgb(252, 196, 124);
}
#equalButton{
  border: 1px solid rgba(255, 151, 14, 0.938);
}

/* responsive for the smartphone and tablet size */
@media(max-width:650px){
  .calculatorButtons{
    width: 34vh;
    height: 50vh;
  }
  .btn{
    width: 60px;
    height: 60px;
    font-size: 1rem;
  }
  #displayValues{
    height: 10vh;
    width: calc(100% - 6vh);
    font-size: 1.5rem;
  }
  .container{
    height: 100vh;
  }
}
